<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Monitoring Dapur MBG</title>

    <!-- Bootstrap CSS -->
    <link 
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" 
      rel="stylesheet">

    <!-- Bootstrap Icons -->
     <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="/css/sub_section.css">
  </head>

  <body>

  <nav class="navbar navbar-expand-lg mbg-navbar sticky-top">
  <div class="container">
    <a class="navbar-brand text-white fw-semibold " href="#"><span><i class="bi bi-fork-knife"></i></span>
      Monitoring Suhu MBG
    </a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarMBG">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarMBG">
      <ul class="navbar-nav ms-auto">
       
      </ul>
    </div>
  </div>
</nav>


    <!-- Background Wrapper -->
    <div class="bg-wrapper">
      <div class="overlay"></div>

      <div class="container position-relative py-5">
        <h1 class="text-center text-white mb-4 judul">
          <span><i class="bi bi-thermometer-half"></i></span>Monitoring Suhu Ruangan<span><i class="bi bi-thermometer-half"></i></span>
        </h1>
        <h2 class=" text-white mb-4 tanggal">
          <span><a style="color: white !important;" href="/">Halaman_Utama</a> / </span><a href="/tanggal/<%-data[0].tanggal%>">Monitoring_suhu ruangan</a></i></span>
        </h2>
        <h2 class=" text-white mb-4 tanggal">
          <span>Tanggal : </span><%= data[0].tanggal %> <span><i class="bi bi-calendar-week"></i></span>
        </h2>

        
     <div class="table-wrapper">
  <div class="table-scroll">
    <table class="table table-hover text-center align-middle mb-0">
      <thead>
        <tr>
          <th>No.</th>
          <th>Ruangan</th>
          <th>Stabilitas Data</th>
          <th>Stabilitas Suhu</th>
          <th>Rata-rata</th>
          <th>Stats</th>
        </tr>
      </thead>

      <tbody>
            <% data.forEach(element => { %>
          <tr>
            <td><%= data.indexOf(element) + 1 %></td>
            <td><%= element.ruangan %></td>
            <td><%= element.stabilitas_data %></td>
            <td><%= element.stabilitas_suhu %></td>
            <td><%= element.rata_rata %> °C</td>
            <td>
              <a class="btn btn-primary btn-sm" href="/tanggal/<%= element.tanggal %>/ruangan/<%= element.ruangan %>">
                <i class="bi bi-graph-down me-1"></i> Detail
              </a>
            </td>
          </tr>
        <% }) %>
       
      </tbody>
    </table>
  </div>
</div>




      
      </div>
    </div>

    <!-- Bootstrap JS -->
    <script 
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js">
    </script>
  </body>
</html>
